h1{
	text-align:center;
	width:320px;
    padding:10px;
    border:5px;
    margin:0; 
	color:black;
	font-family:Arial;
	background-color:gray;
	
}
body{
	 background-image: url("https://s-media-cache-ak0.pinimg.com/originals/0e/de/7a/0ede7ac7265dc2e3d6c95a5c3de79ab3.jpg");
	 background-repeat:no-repeat;
	 background-position:center center;
	 padding: 10px;
}
td:hover { 
    background-color: Cornsilk;
}

th,td {
	outline: 3px solid black;
}

th,td{
	font-family:Arial;
	text-align: center;

}